/*-- scss:functions --*/

/*-- scss:defaults --*/

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black: #000 !default;

// override cosmo defaults w/ CCR < 4.5
$blue: #2170c7 !default;
$pink: #d4387f !default;
$red: #df0031 !default;
$orange: #b6520e !default;
$yellow: #91672c !default;
$green: #2a800e !default;
$teal: #107e5e !default;

// warning to orange since colors were swapped
$warning: $orange !default;

// set min CCR
$min-contrast-ratio: 4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;

// Body

$body-color: $gray-900 !default;

// Muted text

$text-muted: $gray-600 !default;

// inline code text color

$code-color: #844aa1 !default;

/* -- scss:mixins --*/

/*-- scss:rules --*/